# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea
target
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
conf/evolutions/
project/project/
