# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
*.iml
.idea/workspace.xml
.idea
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.idea/workspace.xml
