#main-grid {
    border: 1px solid #000000;
    margin: 2.5%;
    height: 500px;
    width: 500px;
}

.game {
    /*display: none;*/
}

.opponent-left {
    display: none;
}

.waiting {
    margin: 0 auto;
    text-align: center;
    margin-top: 250px;
}

.tile {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #5d71ff;
}

.row {
    width: 500px;

    background: #313131;
}

.square {
    width: 50px;
    height: 50px;

    margin: 0;

    outline: 1px solid;
    display: inline-block;
    float: left;
    background: #FFFFFF;
}

#grid-container {
    float: left;
}

#buttons {
    float: right;
    width: 50%;
}

button {
    /*display: block;*/
    width: 100px;
}

.boat-btn {
    height: 30px;
    width: 30px;
}

.boat-img {
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.boat-img-grid {
    height: inherit;
    width: inherit;
    background-color: yellow;
}