body{
}
body:before{
    content: "";
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    z-index: -1;
}
.navbar {
    vertical-align: middle;
    height: 70px;
}
.navbar .container-fluid{
    background-color: #0c75d2;
    height: 70px;
}

.navbar .container-fluid .logo{
    color: #1c1d1d;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    text-decoration: none;
}
.navbar .container-fluid .logo:hover{
    font-size: 51px;
}

.play-btn{
    padding: 16px;
    font-size: 86px;
    background-color: #0e80e5;
    border: none;
    border-radius: 5px;
    color: white;
}
.play-btn:hover{
    background-color: #0f90d1;
}
#profile-picture{
    margin-top: 10px;
    width: 50px;
    height:50px;
    border-radius: 50%;
}

.title{
    /*margin-bottom: 150px;*/
    color: #1c1d1d;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
    opacity: 1;
}

#loading{
    margin-bottom: 150px;
    opacity: 1;
}

.info-stuff{
    display: none;
    opacity: 1
}

.info-stuff.chart {
    margin-top: -115px;
}

.container.text-center{
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 25px;
    padding: 20px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.6);
}

canvas{
    width:500px !important;
    height:500px !important;
}

.username{
    color: black;
    margin-right: 20px;
    margin-top: 24px;
}