<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/game.css")">
</head>
<body>
  <div class="canvas-div">
    <canvas width="900" height="900"></canvas>
  </div>
</body>
  <script src="@routes.Assets.versioned("javascripts/createjs/easeljs.min.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/createjs/preloadjs.min.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/createjs/soundjs.min.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/createjs/tweenjs.min.js")"></script>
</html>