<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Battle Boats</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap-space.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/game.css")">
    </head>
    <body>
        <div class="waiting">
            <img src="@routes.Assets.versioned("img/sailboat.gif")"/>
            <p class="waiting-text">Waiting for oponent</p>
        </div>
        <div class="opponent-left">
            <p class="">Your opponent left the match</p>
            <button onclick="#">Go to home</button>
        </div>
        <div class="game">
            <div id="grid-container">
                <div id="main-grid">

                </div>
            </div>

            <div id="buttons">
                <div id="boats">

                </div>
                <div id="button-panel">
                    <button class='btn-success' id='ready-btn' onclick="post('ready')">Ready</button>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-2.2.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/d3.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/tile.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/game-buttons.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/board.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/websocket.js")"></script>
</html>