<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Battle Boats</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap-space.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/game.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/flipclock.css")">
    </head>
    <body>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/main" class="logo">Battle Boats</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <label class="username" id="user-name"></label>
                        </li>
                        <li>
                            <img id="profile-picture" src=""/>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="waiting">
            <img src="@routes.Assets.versioned("img/sailboat.gif")"/>
            <p class="waiting-text">Waiting for opponent</p>
        </div>
        <div class="opponent-left container">
            <h1 class="end-title">Your opponent left the match</h1>
            <div class="options-div">
                <a class="btn-lg choices" href="/game">Play again</a>
                <a class="btn-lg choices" href="/main">Back to main menu</a>
            </div>
        </div>
        <div class="end-view container">
            <h1 class="end-title">You won</h1>
            <div class="options-div">
                <a class="btn-lg choices" href="/game">Play again</a>
                <a class="btn-lg choices" href="/main">Back to main menu</a>
            </div>
        </div>
        <div class="game">
            <div id="grid-container" class="col-md-6 col-sm-6">
                <div class="title-div">
                    <h3 class="title">
                        Place your ships
                    </h3>
                </div>
                <div id="main-grid">

                </div>
            </div>
            <div class="col-md-4 col-sm-4 right-side">
                @*<div class="your-clock"></div>*@
            <div id="buttons" class="text-center">
                <div id="boats">
                    <div class="boat-div">
                        <div class="boat-drag-container"><span>(1)</span>
                            <button class='btn-default boat-btn' id='boat-selector-1' onclick="rotate(1)">H</button>
                            <div class="boat-img" id="boat-img-1" draggable="true"
                            ondragstart="drag(event)"></div>
                            <span class="boat-counter" id="boat-num-1">x2</span>
                        </div>
                    </div>
                    <div class="boat-div">
                        <div class="boat-drag-container">
                            <span>(2)</span>
                            <button class='btn-default boat-btn' id='boat-selector-2' onclick="rotate(2)">H</button>
                            <div class="boat-img" id="boat-img-2" draggable="true"
                            ondragstart="drag(event)"></div>
                            <span class="boat-counter" id="boat-num-2">x2</span>
                        </div>
                    </div>
                    <div class="boat-div">
                        <div class="boat-drag-container">
                            <span>(3)</span>
                            <button class='btn-default boat-btn' id='boat-selector-3' onclick="rotate(3)">H</button>
                            <div class="boat-img" id="boat-img-3" draggable="true"
                            ondragstart="drag(event)"></div>
                            <span class="boat-counter" id="boat-num-3">x2</span>
                        </div>
                    </div>
                    <div class="boat-div">
                        <div class="boat-drag-container">
                            <span>(4)</span>
                            <button class='btn-default boat-btn' id='boat-selector-4' onclick="rotate(4)">H</button>
                            <div class="boat-img" id="boat-img-4" draggable="true"
                            ondragstart="drag(event)"></div>
                            <span class="boat-counter" id="boat-num-4">x2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="button-panel" class="text-center">
                <div>
                    <button class="btn btn-auto" id="auto-place-btn" onclick="autoPlaceBoats()">
                        <span class="glyphicon glyphicon-map-marker"></span>Auto place</button>
                </div>
                <div>
                    <button disabled='@true' class='btn btn-ready' id='ready-btn' onclick="Websocket.ready()">
                        <span class="glyphicon glyphicon-ok"></span>Ready</button>
                </div>
                <div>
                    <label class="turn-label" id="turn">Your turn</label>
                </div>
                <div>
                    <span class="error-message" id="error-message"></span>
                </div>
                <div>
                    <button class='btn btn-fire gameButton' id='fire-btn' onclick="randomFire()">
                        <span class="glyphicon glyphicon-screenshot"></span>Random fire</button>
                </div>
            </div>
            <div class="panel-bottom">
                <span class="your-board" onmouseover="Board.displayOwnBoard()" onmouseout="Board.displayEnemyBoard()">Your board</span>
            </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-2.2.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/facebook.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/load.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/flipclock.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/tile.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/board.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/websocket.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/game.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/boat.js")"></script>
</html>