<!DOCTYPE html>
<html>
    <head>
        <title>Battle Boats</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap-space.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/index.css")">
    </head>
    <body>
        <div class="container text-center main-login jumbotron">
            <div class="title">
                <h1>
                    Welcome to Battle Boats
                </h1>
            </div>
            <div id="loading">
                <img id="loading-img" src="@routes.Assets.versioned("img/loading-wheel.gif")"/>
            </div>
            <div class="profile-pic-div">
                <img id="profile-picture" src=""/>
            </div>
            <div class="login">
                <fb:login-button size="xlarge" scope="public_profile,email" onlogin="checkLoginState();" data-auto-logout-link="true"
                onclick="checkLoginState()" id="fb-login-btn">
                    Log In with Facebook
                </fb:login-button>
            </div>
            <div id="status"></div>
        </div>
    </body>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-2.2.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/load.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/facebook.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/facebook-login.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/index.js")"></script>
</html>