<!DOCTYPE html>

<html>
    <head>
        <title>Battle Boats</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap-space.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img id="profile-picture" src=""/>
                    <span class="navbar-brand" id="user-welcome"></span>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li><button class="btn-info navbar-btn btn-lg">Play!</button></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container text-center">
            <div id="loading">
                <img id="loading-img" src="@routes.Assets.versioned("img/loading-wheel.gif")"/>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-2.2.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/facebook.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/load.js")"></script>
</html>